<ion-header>
  <ion-toolbar>
    <ion-title>OneTime</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <div text-center>
    <h3>Ingrese sus datos</h3>
  </div>
  <ion-list>
    <form *ngIf="form" [formGroup]="form" (ngSubmit)="registrarUsuario">
      
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-input formControlName="username" type="text"></ion-input>
      </ion-item>
      <ion-item style="color: #ea6153;" *ngIf="!form.controls.username.valid  
          && (form.controls.username.dirty || formSubmitAttempt || form.controls.username.touched)">
        <p>Ingrese usuario!</p>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Clave</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <ion-item style="color: #ea6153;" *ngIf="!form.controls.password.valid  
            && (form.controls.password.dirty || formSubmitAttempt || form.controls.password.touched)">
        <p>Ingrese clave!</p>
      </ion-item>

    

      <hr />
      <div padding id="botones">
        <ion-button expand="full" color="primary" size="large" (click)="registrarUsuario()">INGRESAR</ion-button>
        <hr />
        <ion-button href="/" goBack expand="full" color="light">Cancelar</ion-button>
      </div>
    </form>
  </ion-list>

</ion-content>